

body {
  
    margin: 0; 
    text-align: center;
    font-family: Arial;
    padding: 0;
    margin: 0;
}

h1 {
    background-color: black;
    color: red;
    font-size: 8em;
    font-family: 'Orbitron', sans-serif;
    padding: 50px;
}

h2 {
    text-size-adjust:80px;
    color:black;
    background-color: transparent;
    font-family: 'Permanent Marker', cursive;
    }
    
p {
     color:black;
    padding: 50px;
    font-size: 1.5em;
   
   }

nav {
    height: 155px;
    background-image: url(fondo.jpg);
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul li{
    float: right;
}

nav ul li a {
    text-decoration: none;
    line-height: 15px;
    padding: 0px 5px;
    font-family: 'Orbitron', sans-serif;
}
 

.navbar-brand {
    font-size: 31px;
    background-image: url(fondo.jpg);
    color: red;
    font-family: 'Permanent Marker', cursive;
    transition: fontSize .25s ease-in-out;
}

h2 {
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif    ;
}




div.col:hover {
    color: violet;
}

.nav-link {
    font-size: 16px;
    color: #000 !important;
    background: #e9ecef;
    border-color: #fff #fff #fff  !important;
}

.nav-link.active {
    color: #fff !important;
    background-color: black !important;
}

a.dropdown-item{
    background-color: black;
    color: white;
    line-height: 25px;
    padding: 0px 5px;
} 

.segundo{
   position: sticky;
   color: black;
   font-size: 45px;   
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 .news{
     color: red;
     font-family: 'Staatliches', cursive;
     text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
   }

.news:hover,news:focus {
    background-size: 100% 2px;

}


    
}

 .dot {
    height: 100px;
    width: 100px;
    background-color:black;
    border-radius: 100%;
    display: inline-block;
    color: blanchedalmond;
}
  
.leo{
    font-family: 'Staatliches', cursive;
    color: black;
}

.pt-4.my-md-5.pt-md-5.border-top{
    color: white;  
    background-color: black;
    padding: 0px;
}

/* Music gender */

/* All h2 in the ranking */
.coronawiros-ranking article h2 {
    margin: 0;
    padding: 10px;
    font-size: 21px;
    text-align: left;
}
/* All img in the ranking */
.coronawiros-ranking article img {
    width: 100%;
}


/* Only for hiphop column */
.coronawiros-ranking .hiphop article {
  background: green;
}

/* Only the h2 in hiphop column */
.coronawiros-ranking .hiphop article h2 {
    color: white;
}


/* Only for newwave column */
.coronawiros-ranking .newwave article {
    background: yellow;
}


/* Only for punk column */
.coronawiros-ranking .punk article {
    background: red;
}

/* Only the h2 in hiphop column */
.coronawiros-ranking .punk article h2 {
    color: white;
 }
.coronawiros-ultimasnoticias .abc{color: black;
            transition: width 1.5s, height 1.5, transform 1.5s;
                -moz-transition: width 1.5s, height 1.5s, -moz-transform 1.5s;
                -webkit-transition: width 1.5s, height 1.5s, -webkit-transform 1.5s;
                -o-transition: width 1.5s, height 1.5s,-o-transform 1.5s;
            
            }
.coronawiros-ultimasnoticias .abc:hover{
         transform : scale(1.2);
       -webkit-transform : scale(1.2);
        animation-duration: 2s;
    }
    .coronawiros-ultimasnoticias .abc:hover p{
        display: block;
    }
    
    .coronawiros-ultimasnoticias .abc p{
        font-size: 18px;
        padding: 15px;
    }    
    .coronawiros-ultimasnoticias .abc:hover p.lu{
        display: none;

        
    }
